<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>*etsbot</title>
    <!-- google font -->
     <!-- import my getstarted.js file -->
      <script src="getStarted.js"></script>
      
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="getStarted.css">
</head>
<body>
<!-- suggestions -->
<ul class="suggestion-list">
          
    <a href="https://git.io/typing-svg"><img src="https://readme-typing-svg.demolab.com?font=popp&weight=500&size=30&pause=1000&color=F6B8CFF&&center=true&vCenter=true&random=true&width=1280&lines=Namaste%F0%9F%99%8F;Hello%F0%9F%96%90;Bonjour%F0%9F%A4%99;Hallo%F0%9F%A4%98" alt="Typing SVG" /></a>
    
 </ul>


     <!-- header greeting -->
    <header class="header">
        <h2 class="title">Hello,there</h2>
        <h4 class="subtitle">How can i help you today?</h4>
      <div class="container">
        <div class="child-container">
            <a href="https://git.io/typing-svg"><img src="https://readme-typing-svg.demolab.com?font=popp&weight=500&size=12&pause=10&color=006F97&background=03030300&center=true&vCenter=true&multiline=true&height=120&lines=1.Generate+an+image+of+a+futuristic+car+driving+through+;an+old+mountain+road+surrounded%C2%A0by%C2%A0nature;2.Rewrite+this+email+draft+to+make+it+more+clear+and%C2%A0concise;3.Give+me+a+list+of+5+well-known+sci-fi+books;+and+show+the+results+in+a+table+with%C2%A0descriptions" alt="Typing SVG" /></a>
            
        </div>
      </div>
       
    </header>
    <!-- chat-list conatiner -->
    <div class="chat-list"></div>
        <!-- <div class="message outgoing">
         <div class="message-content">
            <img src="./images2/img3.webp" alt="User image" class="Avatar">
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit culpa blanditiis debitis nulla ess
                       </p>
         </div>
        </div>
        <div class="message incoming">
            <div class="message-content">
               <img src="./images2/img0.png" alt="User image" class="Avatar">
               <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                   
               </p>
            </div>
            <span class="icon
            material-symbols-rounded">content_copy</span>
           </div> -->
          
            

    <!-- typing area -->
    <div class="typing-area">
        <form action="#" class="typing-form">
            <div class="input-wrapper">
                <input type="text" placeholder="Enter prompt here" class="typing-input" required>
                <button class=" icon 
                material-symbols-rounded">send</button>
            </div>
            <div class="action-button">
                <span id="toggle-theme-button" class=" icon 
                material-symbols-rounded">light_mode</span>
                <span id="delete-chat-button" class="icon 
                material-symbols-rounded">delete</span>
            </div>
        </form>
        <p class="disclaimer-text">
            *etsbot may display inaccurate info, including about people, so double-check its response.
        </p>
    </div>
</body>
</html>